if SHIELD_RETEALS_RIGHT

config ZMK_KEYBOARD_NAME
    default "RETEALS"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RETEALS_LEFT || SHIELD_RETEALS_RIGHT

config ZMK_SPLIT
    default y

endif