if SHIELD_SLAETHANDWIRE_LEFT

config ZMK_KEYBOARD_NAME
    default "SLAETHANDWIRE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SLAETHANDWIRE_LEFT || SHIELD_SLAETHANDWIRE_RIGHT

config ZMK_SPLIT
    default y

endif