if SHIELD_CABANATKL_RIGHT

config ZMK_KEYBOARD_NAME
    default "CABANATKL"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CABANATKL_LEFT || SHIELD_CABANATKL_RIGHT

config ZMK_SPLIT
    default y

endif