if SHIELD_SLAETNODEAD_LEFT

config ZMK_KEYBOARD_NAME
    default "SLAETNODEAD"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SLAETNODEAD_LEFT || SHIELD_SLAETNODEAD_RIGHT

config ZMK_SPLIT
    default y

endif